@mixin transition($property, $time, $timing) {
  -webkit-transition: $property $time $timing;
  -moz-transition: $property $time $timing;
  -o-transition: $property $time $timing;
  transition: $property $time $timing;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}
@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -o-transform-origin: $value;
  transform-origin: $value;
}