$color-tab-bg:          #fff;
$color-tab-active-bg:   #f1f1f1;
$color-tab-hover-bg:    #f9f9f9;
$color-ink-bar:         #ff696d;
$color-swapper-bg:      rgba(220,220,220,0.75);
$color-swapper-hover-bg:rgba(220,220,220,0.3);
$color-swapper-text:    #333;

$transition-time-slow:    1s;
$transition-time-medium:  0.7s;
$transition-time-fast:    0.3s;