@import "components/variables";
@import "components/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// tabs
.webts-tabs {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

// tab-links
.webts-tab-links {
  white-space: nowrap;
  @include transition(transform, $transition-time-medium, ease-in-out);

  & > div {
    cursor: pointer;
    display: inline-block;
    min-width: 75px;
    margin: 0;
    padding: 10px 20px;
    background-color: $color-tab-bg;
    text-align: center;
    @include transition-multiple(background-color $transition-time-fast ease-in-out, transform $transition-time-medium ease-in-out);

    &:hover {
      background-color: $color-tab-hover-bg;
    }

    &.active {
      background-color: $color-tab-active-bg;
    }
    &.webts-overfow-swap {
      display: inline-block;
      width: 30px;
      text-align: center;
    }
  }
}

// Ink Bar
.webts-ink-bar {
  display: block;
  width: 115px;
  height: 4px;
  margin: 2.5px 0;
  position: relative;
  background-color: $color-ink-bar;
  border-radius: 50px;
  @include transform-origin(left);
  @include transform(translateX(0px));
  @include transition(transform, $transition-time-medium, ease-in-out);
}

// tab-contents
.webts-tab-contents {
  display: block;
  padding: 10px 0;
  clear: both;
  @include transition(transform, $transition-time-medium, ease-in-out);

  & > div {
    display: block;
    float: left;
    @include transition(transform, $transition-time-slow, ease-in-out);

    &.active {
    }
  }

  &:before, &:after {
    display: block;
    visibility: hidden;
    height: 0px;
    content: ".";
    clear: both;
  }
}

// Swapper
.webts-swapper {
  position: absolute;
}
.webts-swapper-left {

}
.webts-swapper-right {

}